/*!
 *  Theme		 : Enterprise 
 *  Description  : CV Resume Template by themesforever.com
 *  Version      : 1.0
 *
 *	Resume styles:
 *	
 *	1.	GLOBAL STYLES
 *
 *	2.	LAYOUT DESIGN
 *		  2.1	WRAPPER ASIDE / Left		
 *		  2.2	WRAPPER SECTION / Right
 *
 *	3.	SECTIONS	
 *		  3.1	SECTION // ABOUT ME
 *		  3.2	SECTION // SKILLS
 *		  3.3	SECTION // EXPERIENCE AND EDUCATION
 *		  3.4	SECTION // MILESTONES
 *	
 *	4.	LAYOUT HEIGHT 100%
 *
 *
 *
 *	Nicole Bassen Resume Website
 *	nbassen.greenrivertech.net
 *
 */


/*!
 **********************************************************
 *
 *	1.	GLOBAL STYLES
 *		  Defaults HTML and overrides styles Bootstrap
 *
 **********************************************************
 */

body {
  background-color: rgb(30, 30, 30);
  color: #333333;
  color: black;
  font-family: 'Questrial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
}
p {
  text-align: left;
  color: rgb(200, 200, 200);
}
a {
  text-decoration: none;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
a:hover,
a:focus {
  color: #262b37;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 0;
  margin-left: -1px;
  padding: 0;
  text-transform: uppercase;
}
h2.sectionHeader {
  margin-bottom: 15px;
}
.text-primary {
  color: gray;
}
.text-secondary {
  color: gray;
}
.btn {
  border-radius: 0;
}
.btn.btn-default {
  background-color: inherit;
  color: #eeeeee;
}
.btn.btn-default:hover,
.btn.btn-default:active,
.btn.btn-default:hover {
  background-color: inherit;
  border-color: #00a69a;
  color: #00a69a;
}
button:focus {
  outline: none;
}

/*!
 **********************************************************
 *
 *	2.	LAYOUT DESIGN
 *		  2.1 WRAPPER ASIDE / Left
 *			//	header
 *				  //	img ->	Photo	
 *				  //	h1	->	Nombre
 *				  //	h2 	->	Description
 * 
 *			//	nav
 *				  //	li a -> Social links
 *
 *			//	footer
 *				  //	TimForeman©2015	
 *
 *		  2.2 WRAPPER SECTION / Right
 *			    //	WRAPPER PADDING
 *			    //	MARGIN BOTTOM
 *			    //	FOOTER SIGNATURE ONLY MOVIL
 *
 **********************************************************
 */
.wrapper-aside {
  background-color: rgb(240, 240, 240);
  color: #333333;
}

/* MENU BAR STYLES */
.wrapper-aside .menuBar {
  margin-top: 5px;
  padding: 0;
}
.wrapper-aside .menuBar button#menuToggle {
  background: none;
  border: none;
  margin-bottom: 5px;
}
.wrapper-aside .menuBar button#menuToggle:hover {
  color: #e10037;
}
.wrapper-aside .dropdownMenu {
  display: none;
  padding:0;
  margin-bottom: 10px;
}
.wrapper-aside #menuOptions li.navItem a {
  background-color: #eeeeee;
  color: rgb(30,30,30);
  padding: 10px;
  margin: 0;
  font-size: 20px;
  text-transform: lowercase;
}
.wrapper-aside #menuOptions li.navItem a:hover,
.wrapper-aside #menuOptions li.navItem a:focus {
    background-color: rgb(30,30,30);
    color: #eeeeee;
}
.wrapper-aside #menuOptions {
  padding-left: 0;
}

/* ASIDE HEADER STYLES */
.wrapper-aside header {
  margin: 10px 0 10px 0;
  text-align: center;
}
.wrapper-aside header > article {
  margin: auto;
  max-width: 250px;
}
.wrapper-aside header > article > a > img {
  border: 4px solid #eeeeee;
  box-shadow: 2px 2px 7px rgb(20, 20, 20);
}
.wrapper-aside header h1 {
  font-size: 30px;
  font-weight: 500;
  margin-top: 20px;
  text-shadow: 1px 1px 1px rgb(30, 30, 30);
  text-shadow: none;
  color: rgb(30, 30, 30);
  text-transform:  uppercase;
  font-weight: bold;
}
.wrapper-aside header h2 {
  font-size: 25px;
  font-weight: 400;
  margin-top: 3px;
  margin-bottom: 15px;
  text-shadow: 1px 1px 1px rgb(200, 200, 200);
  text-shadow: none;
  color: #e10037;
  text-transform: lowercase;
}

/* PAGE SECTION STYLES */
.wrapper-section {
  background-color: rgb(30, 30, 30);
  color: #eeeeee;
}
.wrapper-section .wrapper-padding {
  padding-top: 45.5px;
  padding-left: 35px;
  padding-right: 35px;
}
@media (max-width: 768px) {
  .wrapper-section .wrapper-padding {
    padding-left: 14px;
    padding-right: 14px;
  }
}
.wrapper-section .wrapper-padding section .margin-bottom {
  margin-bottom: 30px;
}
.wrapper-section .wrapper-padding section.margin-bottom {
  margin-bottom: 60px;
}
.wrapper-section .wrapper-padding section h2 {
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  color: white;
  text-transform: lowercase;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 1px;
}
.wrapper-section .wrapper-padding section .subheader {
  text-transform: uppercase;
  color: gray;
}


/*!
 **********************************************************
 *
 *	3.	SECTIONS	
 *		  3.1	SECTION // ABOUT ME
 *		  3.2	SECTION // SKILLS
 *		  3.3	SECTION // EXPERIENCE AND EDUCATION
 *		  3.4	SECTION // MILESTONES
 *
 **********************************************************
 */

/* ABOUT ME SECTION STYLES */
section#about-me .media {
  margin-bottom: 20px;
}
section#about-me .media span {
  background-color: inherit;
  border-radius: 14px;
  border: 1px solid #00a69a;
  color: #00a69a;
  display: block;
  font-size: 12px;
  height: 28px;
  line-height: 26px;
  text-align: center;
  width: 28px;
}
@media (max-width: 1200px) {
  section#about-me .media span {
    margin: auto;
  }
}
section#about-me .media .media-body {
  line-height: 28px;
}
section#about-me .fa-file-text-o {
  margin-bottom: 3px;
}
section#about-me h4.connectHeader {
  margin: 5px 0 10px 0;
  color: rgb(100, 100, 100);
  text-transform: lowercase;
  letter-spacing: 1px;
  font-size: 25px;
}

/* E-mail/GitHub/LinkedIn links */
section#about-me a.connectLink {
  color:white;
  padding: 0;
  margin: 0;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 16px;
}
section#about-me a.connectLink:hover {
  color: gray; 
}

/* E-mail/GitHub/LinkedIn icons */
section#about-me span.connectIcon {
  color: #e10037;
  background-color: inherit;
}
section#about-me span.connectIcon hover {
  color: black;
}


/* SKILLS BAR STYLES */

section#skills .progress {
  background-color: rgb(45, 45, 45);
  border-radius: 0;
  border: 1px solid #eeeeee;
  box-shadow: none;
  height: 35px;
  line-height: 35px;
  padding: 0;
  margin-bottom: 12px;
  border-top: 1px solid rgb(180, 180, 180);
  border-bottom: 1px solid rgb(180, 180, 180);
}
section#skills .progress .progress-bar {
  background-color: rgb(20, 20, 20);
  background-color: rgb(80, 80, 80);
  border-right: 1px solid #e10037;
  box-shadow: none;
  color: #eeeeee;
  font-size: 14px;
  font-weight: 300;
  line-height: 33px;
  text-transform: uppercase;
}
section#skills .progress.level {
  background-color: inherit;
  border: 0;
  border-bottom: 1px dotted #eeeeee;
  border-left: 1px dotted #eeeeee;
  border-right: 1px dotted #eeeeee;
}
section#skills .progress.level .progress-bar {
  background-color: inherit;
  box-shadow: none;
  border-right: 1px dotted #eeeeee;
  color: white;
  font-size: 14px;
}
section#skills .progress.level .progress-bar:last-child {
  border-right: none;
}
@media (max-width: 568px) {
  section#skills .progress.level .progress-bar {
    font-size: 9px;
  }
}


/* WORK EXPERIENCE & EDUCATION STYLES */

section#experience.panel-group.resume,
section#education.panel-group.resume {
  position: relative;
}
section#experience.panel-group.resume .resume-item,
section#education.panel-group.resume .resume-item {
  position: relative;
  margin-bottom: 20px;
}
@media (max-width: 567px) {
  section#experience.panel-group.resume .resume-item,
  section#education.panel-group.resume .resume-item {
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) {
  section#experience.panel-group.resume .resume-item:before,
  section#education.panel-group.resume .resume-item:before {
    position: absolute;
    content: '';
    width: 1px;
    height: calc(100% + 20px);
    top: 0;
    left: 160px;
    border-left: 1px dotted #e10037;
  }
}
section#experience.panel-group.resume .resume-item:last-child,
section#education.panel-group.resume .resume-item:last-child {
  margin-bottom: 0px;
}
section#experience.panel-group.resume .resume-item:last-child:before,
section#education.panel-group.resume .resume-item:last-child:before {
  display: none;
}
section#experience.panel-group.resume .resume-item .resume-year,
section#education.panel-group.resume .resume-item .resume-year {
  background-color: rgb(45, 45, 45);
  display: block;
  color: #eeeeee;
  position: relative;
  width: 110px;
  height: 40px;
  margin-bottom: 20px;
  line-height: 37px;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  border: 1px solid #eeeeee;
}
@media (min-width: 568px) {
  section#experience.panel-group.resume .resume-item .resume-year,
  section#education.panel-group.resume .resume-item .resume-year {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0;
  }
}
section#experience.panel-group.resume .resume-item .resume-btn,
section#education.panel-group.resume .resume-item .resume-btn {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 140px;
  width: 40px;
  height: 40px;
  background-color: rgb(45, 45, 45);
  border-radius: 0;
  border: 1px solid #e10037;
}
@media (max-width: 767px) {
  section#experience.panel-group.resume .resume-item .resume-btn,
  section#education.panel-group.resume .resume-item .resume-btn {
    display: none;
  }
}
section#experience.panel-group.resume .resume-item .resume-btn > a,
section#education.panel-group.resume .resume-item .resume-btn > a {
  display: block;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}
section#experience.panel-group.resume .resume-item .resume-btn > a:before,
section#education.panel-group.resume .resume-item .resume-btn > a:before {
  display: block;
  position: absolute;
  z-index: 15;
  content: '-';
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  line-height: 38px;
  color: #eeeeee;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
section#experience.panel-group.resume .resume-item .resume-btn > a.collapsed:before,
section#education.panel-group.resume .resume-item .resume-btn > a.collapsed:before {
  content: '+';
}
section#experience.panel-group.resume .resume-item .panel,
section#education.panel-group.resume .resume-item .panel {
  padding: 0;
  padding-bottom: 15px;
  width: 100%;
  background: transparent;
  border-radius: 0px;
}
@media (min-width: 568px) {
  section#experience.panel-group.resume .resume-item .panel,
  section#education.panel-group.resume .resume-item .panel {
    width: calc(100% - 140px);
    margin-left: 140px;
  }
}
@media (min-width: 768px) {
  section#experience.panel-group.resume .resume-item .panel,
  section#education.panel-group.resume .resume-item .panel {
    width: calc(100% - 205px);
    margin-left: 205px;
  }
}
section#experience.panel-group.resume .resume-item .panel .panel-heading,
section#education.panel-group.resume .resume-item .panel .panel-heading {
  padding: 0;
  padding-bottom: 5px;
  position: relative;
}
section#experience.panel-group.resume .resume-item .panel .panel-heading .panel-title,
section#education.panel-group.resume .resume-item .panel .panel-heading .panel-title {
  height: 40px;
  line-height: 40px;
  padding: 0;
}
section#experience.panel-group.resume .resume-item .panel .panel-heading .panel-title h4,
section#education.panel-group.resume .resume-item .panel .panel-heading .panel-title h4 {
  float: left;
  line-height: 40px;
  margin-right: 10px;
}
@media (max-width: 969px) {
  section#experience.panel-group.resume .resume-item .panel .panel-heading .panel-title,
  section#education.panel-group.resume .resume-item .panel .panel-heading .panel-title {
    height: auto;
    line-height: auto;
  }
  section#experience.panel-group.resume .resume-item .panel .panel-heading .panel-title h4,
  section#education.panel-group.resume .resume-item .panel .panel-heading .panel-title h4 {
    float: none;
  }
}
section#experience.panel-group.resume .resume-item .panel .panel-collapse .panel-body,
section#education.panel-group.resume .resume-item .panel .panel-collapse .panel-body {
  padding: 0;
  border-top: none;
}
section#experience.panel-group.resume .resume-item .panel .panel-collapse .panel-body p,
section#education.panel-group.resume .resume-item .panel .panel-collapse .panel-body p {
  margin-bottom: 20px;
}

/*
* FORM STYLES
*/
section#contact label,
section#login label {
  font-weight: normal;
  margin-bottom: 1px;
}
section#contact #submit,
section#login #loginButton {
  background-color: inherit;
  background-color: rgb(50,50,50);
  max-width: 150px;
}
section#contact input, textarea,
section#login input {
  width: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(200, 200, 200, .25);
  border-radius: 0px;
  margin-bottom: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding: 5px;
}
section#contact input:focus, textarea:focus,
section#login input:focus {
  border-color: white;
  outline: none;
}
section#contact .contactInfo {
  font-size: 18px;
}
section#contact .contactInfo .fa {
  color: #e10037;
  margin: 25px 0 5px 0;
}
section#contact .errorMessage,
section#login .errorMessage {
  font-weight: bold;
}
section#login .formDiv {
  padding: 0;
}
section#login label {
  max-width: 300px;
}
section#login input {
  max-width: 300px;
}

/* PORTFOLIO STYLES */
section#portfolio .portfolioDiv {
  width: 100%;
  height: 18em;
  border: 4px solid #eeeeee;
  background-color: inherit;
  margin: 18px auto 2px auto;
  box-shadow: none;
}
section#portfolio .portfolioDiv:hover {
  border-color: rgb(150,150,150);
}
/* set backgrounds for portfolio thumbnails */
section#portfolio div#kfbDiv {
  background-image: url("../img/kfb/kfb-contribute.png");
  background-size: cover;
}
section#portfolio div#seahawksDiv {
  background-image: url("../img/seahawks/hawks-schedule2.png");
  background-size: cover;
}
section#portfolio div#artDiv {
  background-image: url("../img/art/art2.png");
  background-size: cover;
}
section#portfolio div#kentServesDiv {
  background-image: url("../img/projects/analog.png");
  background-size: cover;
}

section#portfolio figcaption {
  margin-top: 5px;
  color: #eeeeee;
  line-height: 16px;
}
section#portfolio a.extLink {
  color: gray;
}

/* CONTACT DATA STYLES */
section#portfolio a.extLink:hover {
  color: #eeeeee;
  text-decoration: none;
}
section#contactData {
  background-color: #eeeeee;
  color: black;
  padding: 20px;
}
section#contactData h2 {
  color: rgb(30,30,30);
  text-shadow: 1px 1px 1px rgb(150,150,150);
}
section#contactData a.logout {
  font-size: 15px;
  color: #e10037;
}
section#contactData a.logout:hover {
  color: gray;
  text-decoration: none;
}

/*!
 **********************************************************
 *
 *	4.	LAYOUT HEIGHT 100%
 *
 **********************************************************
 */
html,
body {
  height: 100%;
}
.wrapper {
  height: 100%;
  margin-left: 0;
  margin-right: 0;
}
.wrapper:before,
.wrapper:after {
  content: "";
  display: table;
}
.wrapper:after {
  clear: both;
}
.wrapper > .box {
  bottom: 0;
  /* increase for footer use */
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-size: cover;
  background-attachment: fixed;
}
.wrapper > .box > .row {
  height: 100%;
  margin-left: 0;
  margin-right: 0;
}
.wrapper > .box > .row > .column {
  height: 100%;
  overflow: auto;
  *zoom: 1;
}
.wrapper > .box > .row > .column:before,
.wrapper > .box > .row > .column:after {
  content: "";
  display: table;
}
.wrapper > .box > .row > .column:after {
  clear: both;
}
.wrapper > .box > .row > .column.wrapper-section .col-sm-9.full {
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-right: -15px;
}
.wrapper > .box > .row > .column.wrapper-section .col-sm-9.full .padding {
  margin-left: -15px;
  margin-right: -15px;
}
@media (max-width: 767px) {
  .wrapper > .box > .row > .column {
    height: auto;
  }
}
